$font-family-title: Tahoma, sans-serif;
$font-family-text: 'Times New Roman', Times, serif; 
$primary-color: #d64036;
$title-color: #000;
$text-color: #8d8d8d;
$font-text-size: 14px;
$font-nav-size: 16px;
$font-title-size: 18px;
$text-line-height: 20px;
$button-text-color: #fff;
$button-text-size: 13px;
$box-shadow: 1px 1px 7px -2px rgba(143,139,143,1);
$button-linear-gradientd: linear-gradient(0deg, rgba(182,54,46,1) 0%, rgba(218,65,55,1) 100%);
$border-radius: 3px;
